@import './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li {
    all: unset;

}

.button {
    border: none;
    padding: 10px 22px 10px 22px;
    background-color: $buttonColor;
    border-radius: 5px;
    color: $colorWhite;
    font-family: $buttonFontText;
    line-height: $lineDec;
    font-size: $sizeTextDec;
    box-shadow: 4px 5px 15px 0px $colorBorderRed;


}

//desctop

@media (min-width: 768px) and (max-width:1440px) {
    .navigation {
        @include flex(space-around, center);
        height: 100px;
        width: 100%;
        padding-left: 135px;
        padding-left: 135px;
        background-color: $colorWhite;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

        &__logo {
            display: flex;
            font-family: $fontText;
            font-weight: $fontWeight600;
            font-size: $fontSizeLogo;
            line-height: $lineHeightLogo;

            &_red {
                color: $colorRed;
            }

            ;

            &_black {
                color: $colorBlack;
            }

            ;

        }

        &__list {
            @include flex;
            gap: 40px;

        }

        &__list-item {
            line-height: $lineHeightDec;
            font-weight: $fontWeight500;
            color: $colorBlack;
            font-family: $fontText;
            font-size: $sizeTextDec;

        }
    }

    .toggle {
        border: none;
        background-color: $colorWhite;

    }

    .burger-menu {
        display: none;
    }

    li {
        flex-shrink: 0;
    }

    .bannerMenu {
        height: 735px;
        width: 100%;
        @include flex(flex-end, center);
        gap: 35px;
        background-color: $colorOrange;

        &__content {
            @include flex(center, flex-start);
            flex-direction: column;
            width: 493px;

            &__header {
                font-family: $fontText;
                font-weight: $fontWeight700;
                font-size: $sizeTextDecHeader;
                line-height: $lineHeightDecHeader;


                &_red {
                    color: $colorRed;
                }

                ;

                &_black {
                    color: $colorBlack;
                }
            }

            ;

            &__text {
                padding-top: 11px;
                padding-bottom: 50px;
                color: $colorGrey;
                font-size: $sizeTextDecSpan;
                line-height: $lineHeightDecSpan;
                font-weight: $fontWeight400;
                font-family: $fontText;

            }

            ;
        }

        &__Social-Icons {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__logos a {
                @include flex(center, center);
                width: $sizeIcons;
                height: $sizeIcons;
                background-color: $colorWhite;
                box-shadow: 0px 1px 10px 0px $colorBorderBlack;
                ;
                transition: background-color 0.3s ease;
            }

            &__logos a:hover {
                background-color: $colorRed;

            }

            &__logos a:hover svg path {
                fill: $colorWhite;

            }

            &__logos_active {
                @include flex(center, center);
                width: $sizeIcons;
                height: $sizeIcons;
                background-color: $colorRed;
                box-shadow: 4px 5px 15px 0px $colorBorderRed;

            }
        }

    }

    .banner__tablet,
    .banner__mobil {
        display: none;
    }

}

//tablet

@media (min-width: 376px) and (max-width:768px) {

    .navigation {
        @include flex(space-around, center);
        height: 80px;
        gap: 28px;
        padding: 28px 28px 28px 40px;
        width: 100%;
        background-color: $colorWhite;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);

        &__logo {
            display: flex;
            font-family: $fontText;
            font-weight: $fontWeight600;
            font-size: $fontSizeTablet;
            line-height: $lineHeigthTablet;

            &_red {
                color: $colorRed;
            }

            ;

            &_black {
                color: $colorBlack;
            }

            ;

        }

        &__list {
            @include flex;
            gap: 28px;

        }

        &__list-item {
            line-height: $lineHeigthTablet;
            font-size: $fontSizeTablet;
            font-weight: $fontWeight500;
            color: $colorBlack;
            font-family: $fontText;

        }
    }

    .toggle {
        border: none;
        background-color: $colorWhite;
    }

    .burger-menu {
        display: none;
    }

    li {
        flex-shrink: 0;
    }

    .bannerMenu {
        height: 735px;
        width: 100%;
        @include flex(flex-end, center);
        gap: 13px;
        padding-left: 40px;
        background-color: $colorOrange;

        &__content {
            @include flex(center, flex-start);
            flex-direction: column;
            width: 493px;


            &__header {
                font-family: $fontText;
                font-weight: $fontWeight600;
                font-size: $fontSizeHeaderTablet;
                line-height: $lineHeigthHeaderTablet;


                &_red {
                    color: $colorRed;
                }

                ;

                &_black {
                    color: $colorBlack;
                }
            }

            ;

            &__text {
                padding-top: 11px;
                padding-bottom: 50px;
                color: $colorGrey;
                font-size: $sizeTextDecSpan;
                line-height: $lineHeightDecSpan;
                font-weight: $fontWeight400;
                font-family: $fontText;

            }

            ;
        }

        &__Social-Icons {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &__logos a {
                @include flex(center, center);
                width: $sizeIcons;
                height: $sizeIcons;
                background-color: $colorWhite;
                box-shadow: 0px 1px 10px 0px $colorBorderBlack;
                ;
                transition: background-color 0.3s ease;
            }

            &__logos a:hover {
                background-color: $colorRed;

            }

            &__logos a:hover svg path {
                fill: $colorWhite;

            }

            &__logos_active {
                @include flex(center, center);
                width: $sizeIcons;
                height: $sizeIcons;
                background-color: $colorRed;
                box-shadow: 4px 5px 15px 0px $colorBorderRed;

            }
        }

    }

    .banner__desctop,
    .banner__mobil {
        display: none;
    }

}

//mobil

@media (max-width: 376px) {
    * {
        box-shadow: 0px
    }

    ;

    .navigation {
        height: 50px;
        @include flex(space-between, center);
        padding: 13px;
        width: 100%;
        background-color: $colorWhite;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);



        &__list {
            display: none;
        }

        &__logo {
            display: flex;
            font-family: $fontText;
            font-weight: $fontWeight500;
            font-size: $fontSizeMobil;
            line-height: $lineHeightMobil;


            &_red {
                color: $colorRed;
            }

            ;

            &_black {
                color: $colorBlack;
            }
        }

        ;
    }

    .toggle,
    .burger-menu {
        border: none;
        background-color: $colorWhite;

    }


    .burger-menu {
        display: block;
    }

    button {
        @include button-reset
    }

    .bannerMenu {
        height: 735px;
        width: 100%;
        @include flex(center, center);
        flex-direction: column-reverse;
        gap: 13px;
        background-color: $colorOrange;

        &__content {
            @include flex(center, center);
            flex-direction: column;

            &__header {
                font-family: $fontText;
                font-weight: $fontWeight600;
                font-size: $fontSizeMobilHeader;
                line-height: $lineHeightMobilHeader;
                text-align: center;


                &_red {
                    color: $colorRed;
                }

                ;

                &_black {
                    color: $colorBlack;
                }
            }

            ;

            &__text {
                padding-top: 11px;
                padding-bottom: 50px;
                color: $colorGrey;
                font-size: $sizeTextDecSpan;
                line-height: $lineHeightDecSpan;
                font-weight: $fontWeight400;
                font-family: $fontText;
                text-align: center;

            }

            ;
        }

        &__Social-Icons {
            display: none;
        }

    }

    .banner__desctop,
    .banner__tablet {
        display: none;
    }

}